@font-face {
  font-family: "Dihjauti";
  src: url("../assets/fonts/Dihjauti/Dihjauti-Regular.woff2") format("woff2"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.woff") format("woff"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.ttf") format("truetype"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}