@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica/Helvetica-Regular.woff2") format("woff2"),
    url("../assets/fonts/Helvetica/Helvetica-Regular.woff") format("woff"),
    url("../assets/fonts/Helvetica/Helvetica-Regular.ttf") format("truetype"),
    url("../assets/fonts/Helvetica/Helvetica-Regular.eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica/Helvetica-Bold.woff2") format("woff2"),
    url("../assets/fonts/Helvetica/Helvetica-Bold.woff") format("woff"),
    url("../assets/fonts/Helvetica/Helvetica-Bold.ttf") format("truetype"),
    url("../assets/fonts/Helvetica/Helvetica-Bold.eot")
      format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  /* Шрифты */
  --font-base: "Helvetica", sans-serif;

  /* Веса шрифтов */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Цвета */
  --color-bg: rgba(242, 242, 242, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-txt: rgba(47, 47, 47, 1);
  --color-blue-light: rgba(227, 234, 248, 1);
  --color-blue: rgba(62, 111, 208, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 390px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-txt);
  font-size: clamp(16px, 1.389vw, 20px);
  font-weight: 400;
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s ease;
}

body.hidden {
  overflow: hidden;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

section {
  margin-bottom: 100px;
}

.container {
  margin: auto;
  max-width: 1440px;
  padding: 0 24px;
}

h6,
h5,
h4,
h3,
h2,
h1,
.h6,
.h5,
.h4,
.h3,
.h2,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  line-height: 120%;
}


h1 {
  font-size: 52px;
  /* margin-top: clamp(80px, 11.944vw, 172px); */
  margin-bottom: 40px;
}

h2 {
  font-size: 42px;
  margin-bottom: 30px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.header {
    background-color: var(--color-blue-light);
    height: 80px;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 35px;
  height: 2px;
  background: var(--color-txt);
  transition: all 0.3s ease;
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-left {
    display: flex;
    gap: 40px;
    font-size: 16px;
    line-height: 120%;
}

.header__nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    line-height: 18px;
}

.nav-list__item a {
  color: var(--color-txt);
  transition: color 0.3s ease;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  background-repeat: no-repeat;
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  background-color: var(--color-blue);
  color: var(--color-white);
}


.btn-arrow {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-header {
    padding: 10px 15px 10px 29px;
}

.btn-hero {
  padding: 10px 8px 10px 30px;
  font-size: 24px;
}

.button-arrow {
    aspect-ratio: 1/1;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;

    color: #2f2f2f;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-arrow {
  width: 30px;
}

.hero-arrow {
  width: 59px;
}


.city-select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.city-text {
  font-size: 16px;
}

.city-arrow {
  pointer-events: none;
}

/* Невидимый, но кликабельный select */
.city-select {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

/* Секция Hero */
/* .hero {
  height: 684px;
  overflow: hidden;
} */

.hero-image img {
    height: 684px;
}

.hero__wrapper {
  display: flex;
}

.hero-content__wrapper {
  width: 50%;
  align-self: center;
  padding-top: 10px;
}

.hero-city {
  color: var(--color-blue);
}

.hero-subtitle {
  margin-bottom: 50px;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
}

/* Секция Numbers */
.numbers-content {
  border-top: 1px solid rgba(47, 47, 47, 0.6);
  padding-top: 30px;
  padding-bottom: 77px;
  display: flex;
  align-items: start;
}

.number {
  width: 50%;
  color: var(--color-blue);
  font-size: 52px;
  line-height: 100%;
  font-weight: var(--font-weight-bold);
}

.number-text {
  width: 50%;
  font-size: 24px;
  line-height: 120%;
}

.numbers-bottom {
  padding-bottom: 0;
}

/* Секция  Преимущества*/
.advantages {
  height: 684px;
}

.advantages__wrapper {
  position: relative;
}

.advantages__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  height: 684px;

  background: url("./assets/images/home/image-2.jpg") center / cover no-repeat;
  z-index: 0;
}

.advantages-content {
  position: relative;
  z-index: 1;
}

.advantages-top {
  width: calc(50% - 60px);
  font-size: 33px;
  line-height: 120%;
}

.advantages-cards {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}

.adv-card {
  position: relative;
  flex: 1;
  background: var(--color-blue-light);
  padding: 30px;
}

.adv-card__title {
  margin-top: 84px;
  margin-bottom: 20px;
}

.adv-card__icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Секция Каталог */
.catalogue__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 40px;
}

.item-1 {
  grid-column: span 2;
}

.item-5 {
  grid-column: span 2;
}

.catalogue-item__image {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  max-height: 408px;

}

.catalogue-btn__bg {
  background-color: var(--color-blue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-white);
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.catalogue-item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 26px;
  cursor: pointer;
}

.catalogue-item__title p {
  font-size: 24px;
}

/* Секция Как мы работаем */
.steps {
  background-color: var(--color-blue-light);
}

.steps__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.steps__top {
  display: flex;
  align-items: center;
  gap: 276px;
  margin-bottom: 43px;
}

.steps-title--blue {
  color: var(--color-blue);
}

.steps__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.steps__card {
  flex: 1;
}

.steps__card-number {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-bottom: 1px solid var(--color-blue);
  padding: 0;
  margin-bottom: 28px;
}

.steps__card-content {
  padding-right: 55px;
}

.steps__card-title {
  margin-bottom: 30px;
  min-height: 48px;
}

.steps__card-description {
  font-size: 16px;
}

.no-line {
  border-bottom: none;
}

/* Секция Проекты */
.projects__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 40px;
}

.project-item-3 {
  grid-column: span 2;
}

.project-item-4 {
  grid-column: span 2;
}

.project-item__image {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  max-height: 370px;
}

.project-item__title {
  font-size: 24px;
}

.project-item__image {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  color: var(--color-white);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.btn-projects {
  padding: 15px 15px 13px 30px;
  font-size: 20px;
}

/* Секция Отзывы */
.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews-arrows__wrapper {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 24px;
}

.reviews-arrow {
  border: 0.7px solid var(--color-txt);
  width: 42px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reviews-slider {
  margin-bottom: 20px;
}

.slider-viewport {
  overflow: hidden;
  width: 100%;
}

.slider__wrapper {
  display: flex;
  gap: 24px;
  transition: transform 0.4s ease;
}

.review-card {
  flex: 0 0 calc((100% - 48px) / 3);
  /* 48 = 2 gap по 24px */
  background-color: var(--color-blue-light);
  padding: 20px 24px 24px 20px;
  font-size: 16px;
}

.review-card__name {
  margin-bottom: 10px;
}

.review-card__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.reviews-link {
  font-size: 16px;
  align-self: end;
}

.reviews-link-title {
  text-decoration: underline;
}

/* Секция Калькулятор */
/* Секция Hero */
.calculator {
  height: 684px;
  overflow: hidden;
}

.calculator__wrapper {
  display: flex;
}

.calculator-content__wrapper {
  width: 50%;
}

.calculator-title {
  margin-top: 157px;
  margin-bottom: 40px;
}

.calculator-span {
  color: var(--color-blue);
}

.calculator-subtitle {
  max-width: 506px;
  margin-bottom: 50px;
}

.calculator-image {
  width: 50%;
}

.calculator-image img {
  width: 100%;
}

/* Footer */
.footer {
  background: var(--color-blue);
  color: var(--color-white);
  padding: 80px 0 60px;
}

.footer-top {
  display: grid;
  grid-template-columns:
    minmax(284px, 1fr)
    122px
    minmax(448px, 1fr)
    66px
    minmax(100px, 1fr)
    70px
    minmax(160px, 1fr);
}

.footer-col--contacts { 
  grid-column: 1; 
}

.footer-col--address  { 
  grid-column: 3; 
}

.footer-col--menu { 
  grid-column: 5; 
}

.footer-col--catalogue { 
  grid-column: 7; 
}

.footer-col--big {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-subtitle {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
  opacity: 70%;
}

.footer-tel,
.footer-address {
  font-size: 32px;
}

.footer-address {
  line-height: 123%;
}

.footer-list {
  font-size: 16px;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-divider {
  height: 1px;
  background: var(--color-white);
  opacity: 60%;
  margin: 40px 0;
}

.footer-bottom {
  display: grid;
  grid-template-columns:
    minmax(220px, 1fr)
    122px
    minmax(200px, 1fr)
    66px
    minmax(160px, 1fr)
    70px
    minmax(200px, 1fr);
  align-items: center;
}

.footer-bottom-col--logo { 
  grid-column: 1; 
}

.footer-bottom-col--actions { 
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-actions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-bottom-col--meta {
  grid-column: 7;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-action {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.footer-policy,
.footer-meta {
  font-size: 12px;
  line-height: 18px;
  opacity: 50%;
}


@media (max-width: 1280px) {
  .header__wrapper-left {
    gap: 30px;
  }
}

@media (max-width: 1180px) {
  .header .btn {
    display: none;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .header__nav {
    display: none;
  }
  .hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
  }
  .advantages-cards {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  h1 {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .hero__wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .hero-title {
    max-width: 600px;
  }
  .hero-image img {
    height: 550px;
  }
  .hero-image,
  .hero-content__wrapper {
    width: 100%;
    padding: 0;
  }
  .advantages {
    height: unset;
  }
  .advantages__wrapper::after {
    content: none;
  }
  .advantages-cards::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%);

  width: 100vw; */

  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
  height: 100%;

  background: url("./assets/images/home/image-2.jpg") center / cover no-repeat;

  z-index: -1;
}
  .advantages-top {
    width: 100%;
    font-size: 30px;
  }
  .advantages-cards {
    position: relative;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
  }
  .adv-card {
    width: 50%;
  }
  .adv-card:nth-child(2) {
    align-self: flex-end;
  }

}

@media (max-width: 768px) {
  .hero-image img {
    height: 450px;
  }
  .number-text {
    font-size: 20px;
  }
  .numbers-content {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .adv-card {
    width: unset;
    max-width: 440px;
    min-height: 300px;
  }
  .numbers-bottom {
    padding-bottom: 0;
  }

}

@media (max-width: 520px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 37px;
    line-height: 110%;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  section {
    margin-bottom: 80px;
  }
  .hero-subtitle {
    margin-bottom: 24px;
  }
  .btn-hero {
    font-size: 16px;
  }
  .hero-arrow {
    width: 30px;
  }
  .hero-arrow svg {
    width: 11px;
  }
  .numbers-content {
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .numbers-bottom {
    padding-bottom: 0;
  }
  .number,
  .number-text {
    width: 100%;
  }
}

@media (max-width: 391px) {
  .container {
    padding: 0 16px;
  }
  .hero-image img {
    height: 280px;
  }
  .hero-subtitle br {
    display: none;
  }
  .number {
    font-size: 30px;
  }
  .number-text {
    font-size: 14px;
  }
  .advantages-top {
    font-size: 24px;
  }
  .adv-card {
    width: 100%;
    min-height: 237px;
  }
  .adv-card__title {
    font-size: 20px;
    margin-top: 70px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav-list__item a:hover {
    opacity: 60%;
  }

  .btn:hover {
    background-color: var(--color-blue-light);
    color: var(--color-blue);
  }

  .btn:hover .button-arrow {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

}
